body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url(ggg.jpg);
  color: #fff;
}

header {
  text-align: center;
  padding: 2em 1em;
  
}

h1 {
  margin: 0;
  font-size: 2.5em;
}

.halls {
  padding: 2em;
  border: 3px solid #111; 
  
}

.halls .gallery {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.hall {
  
  padding: 1em;
  border-radius: 8px;
  width: 250px;
  text-align: center;
  background-color: #111;
}

.hall img {
  width: 100%;
  border-radius: 5px;
}

.booking {
  
  padding: 2em;
  text-align: center;
}

.booking form {
  max-width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

input, select, button {
  padding: 0.8em;
  border: none;
  border-radius: 4px;
  font-size: 1em;
}

button {
  background: #ff4757;
  color: white;
  cursor: pointer;
  
}

button:hover {
  background: #e84118;
}

footer {
  text-align: center;
  padding: 1em;
  background: #111;
  font-size: 0.9em;
}
